@import 'primereact/resources/primereact.min.css';
@import 'primeicons/primeicons.css';
@import 'primereact/resources/themes/lara-dark-indigo/theme.css'; 
/*
   Альтернативные темные темы:
   Светлые:
  bootstrap4-light-blue / bootstrap4-light-purple
  md-light-indigo / md-light-deeppurple
  mdc-light-indigo / mdc-light-deeppurple
  saga-blue / saga-green / saga-orange / saga-purple
  nova / nova-alt / nova-accent / nova-dark
  fluent-light
  lara-light-blue / lara-light-indigo / lara-light-purple / lara-light-teal
  rhea

  Темные:
  bootstrap4-dark-blue / bootstrap4-dark-purple
  md-dark-indigo / md-dark-deeppurple
  mdc-dark-indigo / mdc-dark-deeppurple
  lara-dark-blue / lara-dark-indigo / lara-dark-purple / lara-dark-teal
  vela-blue / vela-green / vela-orange / vela-purple
  arya-blue / arya-green / arya-orange / arya-purple
  luna-amber / luna-blue / luna-green / luna-pink
*/

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  
  --topbar-height: 50px;

  overflow-x: hidden; /* Добавляем и сюда для надежности */

}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 320px;
  overflow-x: hidden;
}

body:has(.main-page) {
  overflow: hidden;
  height: 100dvh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid #dee2e6;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #f8f9fa;
  color: #212529;
  cursor: pointer;
  transition: border-color 0.25s, background-color .25s, color .25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* Убираем режим автосветлой/темной — всегда светлая тема */
